body {
    margin:0;
    padding:0;
}

.profileadd {
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    width:350px;
    height:420px;
    padding:80px 40px;
    box-sizing: border-box;
    background:#ADD8E6;
    
}

.heads {
    margin:0;
    padding: 0 0 20px;
    text-align:center;
}

.nick {
    padding: 0;
    margin: 0;
    font-weight:bold;
    color:#fff;
}
.des {
    padding: 0;
    margin: 0;
    font-weight:bold;
    color:#fff;
    }

.profileadd input[type="text"], .profileadd input[type="description"] {
        border:none;
        border-bottom: 1px solid red;
        background: transparent;
        outline: none;
        height:40px;
        color:#fff;
        font-size:16px;
    }

    

    .profileadd input {
        width:100%;
        margin-bottom:20px;
    }

    .picture {
        width:100px;
        height:100px;
        overflow:hidden;
        position:absolute;
        top:calc(-100px/2);
        left:120px;
        border-radius:50%;
    }


    .container {
        position:absolute;
        top:85%;
        left:60%;
        transform: translate(-50%,-50%);
    }

    .submit {
        position:relative;
        text-align:center;
        width:250px;
        padding:5px;
        font-size:10px;
        color: black;
        font-family: poppins;
        font-weight:400;
        border: 2px solid #15f4ee;
        text-transform: uppercase;
        letter-spacing:15px;
        cursor:pointer;
        border-radius: 100px;
       transition:0.5s;
    }
    .submit:hover {
        box-shadow: 0 5px 50px 0 #2F4F4F inset, 0 5px 50px 0 #2F4F4F,
                    0 5px 50px 0 #2F4F4F inset, 0 5px 50px 0 #2F4F4F;
    }
